
.container {
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 70px;
}
.simonBoard {
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
  height: 600px;
  border-radius:600px;
}
.pad {
  margin 0;
  float:left;
  position: relative;
  width:295px;
  height:295px;
  border:solid 3px black;
  z-index: 0;
}
.green {
  background-color: #1B998B;
border-radius: 300px 0 0 0;
}
.green-active {
  background-color: #09E85E
  !important;
}
.red {
  background-color: #E71D36;
  border-radius:0 300px 0 0;
}
.red-active {
  background-color: #F8333C !important;
}
.yellow {
  background-color: #C5D86D;
  border-radius:  0 0 0 300px; 
}
.yellow-active {
  background-color: #FCAB10 !important;
}
.blue {
  background-color: #2E294E;
  border-radius: 0 0 300px 0;
}
.blue-active {
  background-color: #2541B2 !important;
}
.board-controls {
  width: 250px;
  height: 250px;
  background-color: white;
  clear:both; 
  border-radius:150px;
  position: absolute;
  z-index: 10;
  margin-left:160px;
  margin-top:160px;
}
.title {
margin-top:30px;
font-size:50px;
  font-weight: bold;
  margin-bottom: 10px;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}
.display {
  width: 60px;
  height: 45px;
  border: solid 2px black;
  color:white;
  font-size: 30px;
  background-color: #342626;
  border-radius: 10px;
}
.start, .strict {
  margin: 0px;
  margin-left:5px;
  text-align: center;
  width:55px;
  height: 55px;
  border: solid 2px black;
  border-radius: 30px;
  color: black;
  font-size: 18px;
  line-height:50px;
}

.start{
  background-color:#E71D36;
}
.strict {
  background-color: #C5D86D; 
}
.switch-container {
  margin-top: 10px;
}
.outter-switch {
  width: 60px;
  height: 30px;
  border: solid 1px black;
  background-color: black;
}
.outter-active {
  background-color: gray !important;
}

.inner-switch {
width: 30px;
height: 30px;
background-color: gray;
position: relative !important;
}

.inner-inactive {
  background-color: black !important;
}